nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 15px;

          picture{
            width: 30%;
            max-width: 170px;
            img{
              width: 100%;
            }
          }
    ul {
      @media screen and (max-width: 768px){
        padding: 0;
        display: flex;
        align-items: center;
      }
      li {
        list-style: none;
        display: inline-block;
      }
      a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 20px;
        font-family: Montserrat;
        margin: 0 10px;

        @media screen and (max-width: 768px){
          font-size: 12px;
          text-transform: uppercase;
        }

        &.active {
          text-decoration: underline;
          text-underline-offset: 8px;
        }
        &:hover{
          color: #f1356d;
        }
      }
  }
 }
    